## Miscellaneous services/config

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm --baudrate 3000000 --patchram /system/etc/firmware/BCM2049B0_BCM20780B0_002.001.022.0170.0174.hcd /dev/ttyHS0
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service g5sensord /system/bin/g5sensord
    class main
    user system
    group system
    oneshot

# galaxy5parts - helper service
service galaxy5parts /system/bin/sh /system/bin/handle_galaxy5parts
    class main
    user root
    group root
    oneshot

# compcache - check dynamic lmk
on property:persist.service.zram=*
    setprop persist.sys.galaxy5parts lowmemorykiller
    start galaxy5parts

# adjust dual-touch permissions
on property:persist.sys.fakedt=*
    setprop persist.sys.galaxy5parts fakedt
    start galaxy5parts

# dynamic lowmemorykiller
on property:persist.sys.dynlmk=*
    setprop persist.sys.galaxy5parts lowmemorykiller
    start galaxy5parts

# sd read-ahead
on property:persist.sys.read_ahead_kb=*
    setprop persist.sys.galaxy5parts readahead
    start galaxy5parts

# swap
on property:persist.sys.swap=*
    setprop persist.sys.galaxy5parts swap
    start galaxy5parts

# ensure that customization are enabled upon boot
on property:sys.boot_completed=1
    setprop persist.sys.galaxy5parts bootcheck
    start galaxy5parts
